<div id="overlay">
	<div class="modal" id="order">
		<div class="order__inn">
			<div class="modal__close"></div>
			<div class="modal-title">Заказ звонка</div>
			<div class="modal-form">
				<form id="order-form" action="" >
					<div class="calc-line">
						<input type="text" name="name" placeholder="Имя">
					</div>
					<div class="calc-line">
						<input type="text" name="phone" placeholder="Телефон">
					</div>
					
					<div class="calc-line">
						<button type="submit" class="form-send">Отправить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>