<div class="wrap">
    <div class="about">
        <div class="about-one">
            <div class="about-one__top">10%</div>
            <div class="about-one__bottom">Скидка по<br>госсубсидии</div>
        </div>
        <div class="about-one">
            <div class="about-one__top">от 6,5%</div>
            <div class="about-one__bottom">Ставка<br>по кредиту</div>
        </div>
        <div class="about-one">
            <div class="about-one__top">1,450,000₽</div>
            <div class="about-one__bottom">Максимальная<br>стоимость автомобиля</div>
        </div>
        <div class="about-one">
            <div class="about-one__top">28,350</div>
            <div class="about-one__bottom">Автомобилей субсидируется<br>Минпромторгом РФ</div>
        </div>
    </div>
</div>