<div class="avto">
    <div class="wrap">
        <h2>Купите автомобиль в кредит прямо сейчас</h2>

        <div class="avto-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide avto-slide">
                    <img src="tmp/car-1.png" alt="">
                    <a class="avto-slide__title" href="#">ЛАДА Granta</a>
                    <table>
                        <tr>
                            <td>Стоимость от</td>
                            <td><span>389,900</span> руб</td>
                        </tr>
                        <tr>
                            <td>Скидка от</td>
                            <td><span>38,990</span> руб</td>
                        </tr>
                        <tr>
                            <td>Цена в месяц от</td>
                            <td><span>3,428</span> руб</td>
                        </tr>
                    </table>
                    <a href="#" class="avto-slide__buy">Купить</a>
                </div>
                <div class="swiper-slide avto-slide">
                    <img src="tmp/car-2.png" alt="">
                    <a class="avto-slide__title" href="#">ЛАДА Vesta</a>
                    <table>
                        <tr>
                            <td>Стоимость от</td>
                            <td><span>389,900</span> руб</td>
                        </tr>
                        <tr>
                            <td>Скидка от</td>
                            <td><span>38,990</span> руб</td>
                        </tr>
                        <tr>
                            <td>Цена в месяц от</td>
                            <td><span>3,428</span> руб</td>
                        </tr>
                    </table>
                    <a href="#" class="avto-slide__buy">Купить</a>
                </div>
                <div class="swiper-slide avto-slide">
                    <img src="tmp/car-3.png" alt="">
                    <a class="avto-slide__title" href="#">ЛАДА XRay</a>
                    <table>
                        <tr>
                            <td>Стоимость от</td>
                            <td><span>389,900</span> руб</td>
                        </tr>
                        <tr>
                            <td>Скидка от</td>
                            <td><span>38,990</span> руб</td>
                        </tr>
                        <tr>
                            <td>Цена в месяц от</td>
                            <td><span>3,428</span> руб</td>
                        </tr>
                    </table>
                    <a href="#" class="avto-slide__buy">Купить</a>
                </div>
            </div>
        </div>

        <div class="avto-bottom">* Предложение от Банков партнеров по кредитной программе Bay Back с процентной ставкой 7,75% сроком на 36 месяцев при первоначальном взносе 30%
    с отстаточным платежом 50%, при условии оформления договора страхования КАСКО, Финансовой защиты. Не является публичной офертой.</div>
    </div>
</div>