<div class="wrap">
    <div class="calc">
        <div class="calc-inn">
            <h2>Расчитайте стоимость кредита по госпрограмме</h2>
            <form action="" id="calc">
                <div class="calc-left">
                    <div class="calc-programs">
                        <div class="calc-field-title">Госпрограмма:</div>
                        <div class="calc-program">
                            <input type="radio" id="prog1" name="program" checked="checked">
                            <label for="prog1">«Первый автомобиль»</label>
                        </div>
                        <div class="calc-program">
                            <input type="radio" id="prog2" name="program">
                            <label for="prog2">«Семейный автомобиль»</label>
                        </div>
                    </div>

                    <div class="calc-price">
                        <div class="calc-field-title">Стоимость автомобиля:</div>
                        <input type="hidden" name="price" class="calc-price-input">
                        <div class="price-slider" id="calc-price">
                            <div id="custom-handle" class="ui-slider-handle"></div>
                            <div class="price-slider__line">
                                
                            </div>
                        </div>
                    </div>

                    <div class="calc-fields">
                        <div class="calc-field">
                            <div class="calc-field-title">Первоначальный взнос:</div>
                            <input class="calc-start" type="text" pattern="^[ 0-9]+$" value="25000"><span>руб.</span>
                        </div>
                        <div class="calc-field">
                            <div class="calc-field-title">Срок кредита:</div>
                            <div class="calc-field__time">36</div><span>мес.</span>
                        </div>
                        <div class="calc-field">
                            <div class="calc-field-title">Ставка:</div>
                            <div class="calc-field__percent">7,7%</div>
                        </div>
                    </div>

                    <div class="calc-result">
                        <div class="calc-discount">
                            Ваша скидка составит: <span>78,900</span> руб.
                        </div>
                        <div class="calc-pay">
                            Ежемесячный платеж:  <span>8,350</span> руб.
                        </div>
                    </div>
                </div>

                <div class="calc-right">
                    <div class="calc-field-title">
                        Введите свои данные:
                    </div>
                    <div class="">
                        
                    </div>
                    <div class="calc-line">
                        <input type="text" name="name" placeholder="Имя">
                    </div>
                    
                    <div class="calc-line">
                        <input type="text" name="phone" placeholder="Телефон">
                    </div>
                    
                    <div class="calc-line">
                        <input type="text" name="email" placeholder="E-mail">
                        <span>
                            для получения расчета по кредиту
                        </span>
                    </div>
                    <div class="calc-line">
                        <button>Отправить заявку на кредит</button>
                        <span>Нажимая кнопку "Отправить заявку" я соглашаюсь с <a href="#">Политикой обработки персональных данных</a>.</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>