<div class="wrap">
    <div class="faq">
        <div class="faq-inn">
            <h2>Часто задаваемые вопросы</h2>
            <ol>
                <li class="faq-one">
                    <div class="faq-q">Чтобы оформить кредит по госпрограмме семейный автомобиль, можно ли сдать свой автомобиль в качестве первого взноса?</div>
                    <div class="faq-a">Да, условием для применения субсидий от банка является первоначальный взнос 20% от стоимости нового авто, его Вы можете внести наличными, либо автомобилем в зачет стоимости.</div>
                </li>
                <li class="faq-one">
                    <div class="faq-q">Чтобы оформить кредит по госпрограмме семейный автомобиль, можно ли сдать свой автомобиль в качестве первого взноса?</div>
                    <div class="faq-a">Да, условием для применения субсидий от банка является первоначальный взнос 20% от стоимости нового авто, его Вы можете внести наличными, либо автомобилем в зачет стоимости.</div>
                </li>
                <li class="faq-one">
                    <div class="faq-q">Чтобы оформить кредит по госпрограмме семейный автомобиль, можно ли сдать свой автомобиль в качестве первого взноса?</div>
                    <div class="faq-a">Да, условием для применения субсидий от банка является первоначальный взнос 20% от стоимости нового авто, его Вы можете внести наличными, либо автомобилем в зачет стоимости.</div>
                </li>
                <li class="faq-one">
                    <div class="faq-q">Чтобы оформить кредит по госпрограмме семейный автомобиль, можно ли сдать свой автомобиль в качестве первого взноса?</div>
                    <div class="faq-a">Да, условием для применения субсидий от банка является первоначальный взнос 20% от стоимости нового авто, его Вы можете внести наличными, либо автомобилем в зачет стоимости.</div>
                </li>
                <li class="faq-one">
                    <div class="faq-q">Чтобы оформить кредит по госпрограмме семейный автомобиль, можно ли сдать свой автомобиль в качестве первого взноса?</div>
                    <div class="faq-a">Да, условием для применения субсидий от банка является первоначальный взнос 20% от стоимости нового авто, его Вы можете внести наличными, либо автомобилем в зачет стоимости.</div>
                </li>
            </ol>
        </div>
    </div>
</div>