<div class="form">
    <div class="wrap">
        <form action="" id="">
            <div class="form-left">
                <div class="form-line">
                    <input type="text" name="name" placeholder="Имя">
                </div>
                <div class="form-line">
                    <input type="text" name="phone" placeholder="Телефон">
                </div>
                <div class="form-line">
                    <input type="text" name="email" placeholder="E-mail">
                </div>
            </div>
            <div class="form-right">
                <div class="form-line">
                    <textarea name="message" placeholder="Сообщение"></textarea>
                </div>
            </div>
            <div class="form-bottom">
                <span>Нажимая кнопку "Отправить" я соглашаюсь с<br>
                <a href="#">Политикой обработки персональных данных</a>.</span>
                <button type="submit">Отправить</button>
            </div>
        </form>
    </div>
</div>