<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script><script type="text/javascript">
	ymaps.ready(function () {
	    var myMap = new ymaps.Map('map', {
	            center: [56.79594760071445,60.56568634276318],
	            zoom: 16,
	            controls: []
	        }, {
	        }),
	     

	        myPlacemark = new ymaps.Placemark([
	        	56.794679541710245,60.56870403439331
	        	], {
	            iconCaption: 'г. Екатеринбург, ул. Решетникова 22'
	        }, {
		        iconLayout: 'default#image',
	            iconImageHref: 'img/map.png',
	            iconImageSize: [40, 54],
	            iconImageOffset: [-20, -54]
	        });

	    myMap.geoObjects.add(myPlacemark);
	}); 
</script>
<div id="map">
	<div class="map-inn">
		<div class="map-contact">
			<div class="map-contact-one">
				<h5>Адрес</h5>
				<p>г. Екатеринбург<br>
				ул. Решетникова 22</p>
			</div>
			<div class="map-contact-one">
				<h5>Телефон</h5>
				<p>+7 (343) 253-00-53</p>
			</div>
		</div>
	</div>
</div>