<div class="wrap">
    <div class="order">
        <div class="wrap-inn">
            <h2>Узнайте подробнее о госпрограмме<br>по телефону бесплатной горячей линии  <span>8-800-1234-567</span></h2>
            <h4>или закажите  обратный звонок от  оператора:</h4>

            <form action="" id="order" class="order-form">
                <div class="order-line">
                    <input type="text" name="name" placeholder="Имя">
                </div>
                <div class="order-line">
                    <input type="text" name="phone" placeholder="Телефон">
                </div>
                <div class="order-line">
                    <button type="submit">Заказать звонок</button>
                </div>
            </form>
        </div>
    </div>
</div>