<div class="wrap">
    <div class="program">
        <div class="wrap-inn">
            <div class="program-one">
                <h3>Госпрограмма <span>«Первый автомобиль»</span></h3>
                <ul>
                    <li>покупатель никогда ранее не имел в собственности автомобиля</li>
                    <li>есть действующее водительское удостоверение</li>
                    <li>нет других автокредитов в 2017 году</li>
                    <li>гражданство рф</li>
                </ul>
                <p><span>СКИДКА 10%</span> на покупку первого автомобиля</p>

                <div class="mobile-hidden">Льготный автокредит может быть выдан без первоначального взноса, а также в счет приобретения страховки.</div>
            </div>
            <div class="program-one">
                <h3>Госпрограмма <span>«Семейный автомобиль»</span></h3>
                <ul>
                    <li>у покупателя два и больше несовершеннолетних детей</li>
                    <li>есть действующее водительское удостоверение</li>
                    <li>нет других автокредитов в 2017 году</li>
                    <li>гражданство рф</li>
                </ul>
                <p><span>СКИДКА 10%</span> на покупку семейного автомобиля</p>

            </div>
            <p>Льготный автокредит может быть выдан без первоначального взноса, а также в счет приобретения страховки.</p>
        </div>
    </div>
</div>