<div class="slider" style="background-image: url(img/slide-bg.jpg)">
    <div class="wrap">
        <div class="slider-img--mobile">
            <img src="img/slider-avto.png" alt="">
        </div>
        <div class="slider-text">
            <div class="slider-text__text">Официальный сайт<br><span>ГОРЯЧЕЙ ЛИНИИ</span> по вопросам связанным с получением госсубсидии на покупку нового автомобиля</div>
            <div class="slider-text__phone">8-800-123-4567</div>
            <div class="slider-text__free">ЗВОНОК БЕСПЛАТНЫЙ</div>
        </div>
    </div>
</div>